body {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h2{
  text-align: center;
}
.upload-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}
.upload-form h2 {
  margin-bottom: 20px;
}
.form-group i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #495057;
}
.form-control,
.form-control-file {
  padding-left: 30px;
}
.form-control-file {
  margin-left: 5px;
}
.btn-primary {
  background-color: #1a2537;
}

